@font-face {
  font-family: 'Days One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('src/assets/fonts/DaysOne/DaysOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'San Francisco Pro Text';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('src/assets/fonts/SanFranciscoProText/SFProText-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'San Francisco Pro Text';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('src/assets/fonts/SanFranciscoProText/SFProText-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'San Francisco Pro Display';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('src/assets/fonts/SanFranciscoProDisplay/SF-Pro-Display-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'San Francisco Pro Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('src/assets/fonts/SanFranciscoProDisplay/SF-Pro-Display-Regular.otf') format('opentype');
}
