// fonts
$fontHeaders: 'Days One', Arial, Helvetica, sans-serif;
$fontTextPrimary: 'San Francisco Pro Text', Helvetica, Arial, sans-serif;
$fontTextSecondary: 'San Francisco Pro Display', Helvetica, Arial, sans-serif;

// base colors
$colorBlackPrimary: #1C1C1C;
$colorBlackSecondary: #444652;
$colorWhitePrimary: #FFFFFF;
$colorWhiteSecondary: #F4F5F7;
$colorLightGrey: #BBB9BA;
$colorDarkGrey: #444652;
$colorBgLightGrey: #ECECEC;

//accent
$colorsuccess: #60AC4D;
$colorError: #E64255;
$colorAccentPrimary: #FF5C01;

//btns
$colorDisabled: rgba(#616161, .7);
