// fonts
$fontHeaders: 'Days One', Arial, Helvetica, sans-serif;
$fontTextPrimary: 'San Francisco Pro Text', Helvetica, Arial, sans-serif;
$fontTextSecondary: 'San Francisco Pro Display', Helvetica, Arial, sans-serif;

// base colors
$colorBlackPrimary: #1c1c1c;
$colorBlackSecondary: #444652;
$colorWhitePrimary: #ffffff;
$colorWhiteSecondary: #f4f5f7;
$colorLightGrey: #bbb9ba;
$colorDarkGrey: #444652;
$colorBgLightGrey: #ececec;

//accent
$colorsuccess: #60ac4d;
$colorAccentPrimary: #ff5c01;

//btns
$colorBgBtn: rgba(#616161, .7);
