@import 'src/app/styles/variables.scss';
@import 'src/app/styles/mixins.scss';

.container {
  background-color: $colorWhitePrimary;
  border-radius: 20px;
  padding: 20px;
}

.title {
  @include reset-text;
  @include text-header-h2;
}
