@import 'src/app/styles/variables.scss';

.footer {
  background-color: $colorBgLightGrey;
}

.outterContainer {
  max-width: 100%;
  background-color: $colorLightGrey;
  padding: 12px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.contentContainer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: $colorWhiteSecondary;
  border-radius: 20px;
}
.textWrapper {
  display: flex;
  gap: 20px;
}

.text {}

.link {
  text-decoration: none;
  cursor: pointer;
}

.logoLink {
  text-decoration: none;
  cursor: pointer;
}
