@import 'src/app/styles/variables.scss';
@import 'src/app/styles/mixins.scss';

.footer {
  background-color: $colorBgLightGrey;
}

.outterContainer {
  max-width: 100%;
  background-color: $colorLightGrey;
  padding: 12px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.contentContainer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: $colorWhiteSecondary;
  border-radius: 20px;
}
.textWrapper {
  display: flex;
  gap: 20px;
}

.text {
  @include text-regular-11;
}

.link {
  @include reset-link;
  @include text-regular-11;
}

.logoLink {
  @include reset-link;
  @include text-header-h4;
}
