@import 'src/app/styles/variables.scss';
@import 'src/app/styles/mixins.scss';

.label {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title {
  @include reset-text;
  @include text-medium-16;
}

.grid {
  @include reset-list;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: min-content;
  grid-auto-rows: min-content;
  gap: 12px;
}

.error {
  @include reset-text;
  @include text-medium-14;
  color: $colorError;
}
