@import 'src/app/styles/variables.scss';
@import 'src/app/styles/mixins.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  width: 642px;
}

.title {
  @include reset-text;
  @include text-header-h4;
  margin-bottom: 12px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.legend {
  max-width: 420px;
  @include reset-text;
  @include text-regular-16;
}

.row {
  display: flex;
  gap: 12px;
}

.rowSpaceBetween {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.submit {
  width: 188px;
}

.inputUpload {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  background-color: $colorWhiteSecondary;
  border: 1px solid $colorLightGrey;
  padding: 20px;
  gap: 12px;
}

.inputUploadText {
  @include text-regular-13;
}

.filePrevContainer {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid $colorBlackPrimary;
  margin-bottom: 20px;
}

.filePreview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
}

.fileInfoContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.fileInfoTextContainer {
  align-self: flex-start;
}

.relativeElement {
  position: relative;
  width: fit-content;
  align-self: center;
}

.delBtn {
  width: 18px;
  height: 18px;
  position: absolute;
  top: -9px;
  right: -9px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fileInfoText {
  @include text-regular-13;
  color: $colorLightGrey;
}

.delText {
  @include text-medium-13;
  cursor: pointer;
  margin-left: 20px;
}
