@import 'src/app/styles/variables.scss';
@import 'src/app/styles/mixins.scss';

.sectionWrapper {
  background-color: $colorWhitePrimary;
  border-radius: 20px;
  padding: 20px;
}

.title {
  @include reset-text;
  margin-bottom: 20px;
  @include text-header-h3;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
