@import 'src/app/styles/variables.scss';

.layout {
  padding-bottom: 32px;
  width: 1336px;
}

.main {
  background-color: $colorLightGrey;
  padding: 12px 12px 0px 12px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.contentContainer {
  padding: 20px;
  background-color: $colorWhiteSecondary;
  border-radius: 20px;
}
