@import 'src/app/styles/variables.scss';
@import 'src/app/styles/mixins.scss';

.layout {
  padding-bottom: 32px;
  width: 1336px;
}

.main {
  background-color: $colorLightGrey;
  padding: 12px 12px 0px 12px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.contentContainer {
  padding: 20px;
  background-color: $colorWhiteSecondary;
  border-radius: 20px;
}

.cards {
  @include reset-list;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(429px, 1fr));
  grid-template-rows: 491px;
  grid-auto-rows: min-content;
  gap: 12px;
  box-sizing: border-box;
  padding: 12px 0;
}
