@import 'src/app/styles/variables.scss';
@import 'src/app/styles/mixins.scss';

.sectionWrapper {
  background-color: $colorWhitePrimary;
  border-radius: 20px;
  padding: 20px;
}

.title {
  @include reset-text;
  margin-bottom: 12px;
  @include text-header-h3;
}

.subtitle {
  @include reset-text;
  @include text-regular-16;
  margin-bottom: 20px;
  max-width: 740px;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: $colorWhiteSecondary;
  padding: 20px;
  border-radius: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.labelText {
  @include reset-text;
  @include text-header-h4;
}

.togglerWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expandedText {
  @include reset-text;
  @include text-regular-16;
  max-width: 490px;
  padding-top: 12px;
}

// /* Вы будете получать уведомления о Ваших мероприятиях на адрес электронной почты, указанной при регистрации */

// width: 489px;
// height: 40px;

// /* SF Headline Regular */
// font-family: 'SF Pro Text';
// font-style: normal;
// font-weight: 400;
// font-size: 16px;
// line-height: 20px;
// /* or 125% */
// letter-spacing: -0.32px;

// color: #444652;

// /* Inside auto layout */
// flex: none;
// order: 1;
// flex-grow: 0;
